$bar-color: #333333;
$bar-color-two: black;
$primary-text-color: #ffffff;
$highlight-color: #40ccc1;
$font-family-inter: "Inter", sans-serif;

.navbar {
  background: linear-gradient(to right, $bar-color, $bar-color-two);
  padding: 15px 0;
  font-family: $font-family-inter;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;

  .navbar-brand {
    font-size: 24px;
    color: $primary-text-color;
    transition:
      color 1s ease,
      text-shadow 1s ease;
    margin-left: 20px;

    &:hover {
      color: $primary-text-color;
      text-shadow:
        0 0 10px $highlight-color,
        0 0 20px $highlight-color,
        0 0 30px $highlight-color,
        0 0 40px $highlight-color;
    }
    &:active,
    &:focus {
      color: $primary-text-color;
    }
  }

  .navbar-toggler {
    display: none;
    margin-left: auto;
    color: $highlight-color;

    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }

    .navbar-toggler-icon {
      width: 30px;
      height: 2px;
      background-color: $primary-text-color;
      border-radius: 2px;
      margin: 8px 0;
      transform-origin: 4px 50%;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: inherit;
        border-radius: 2px;
        transition: transform 0.25s ease-in-out;
      }

      &::before {
        transform: translateY(-8px);
      }

      &::after {
        transform: translateY(8px);
      }
    }
  }

  .navbar-collapse {
    ul.navbar-nav {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li.nav-item {
        display: inline-block;
        margin-right: 15px;

        a.nav-link {
          color: $primary-text-color;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: $highlight-color;
          }

          &.active {
            color: $bar-color;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .navbar {
    flex-direction: column;

    .navbar-brand {
      margin-bottom: 10px;
      margin-left: 20px;
    }

    .navbar-toggler {
      display: block !important;

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .navbar-collapse {
      flex-direction: column;
      width: 100%;
      margin-left: 20px;
    }
  }
}
