$bar-color: #333333;
$bar-color-two: black;
$primary-text-color: #ffffff;
$highlight-color: #40ccc1;
$font-family-inter: "Inter", sans-serif;

.hero-section {
    padding-top: 60px;
    background-color: $highlight-color;
    text-align: center;
    color: $primary-text-color;

   .image-container {
        width: 100px; // Controlled width
        height: 100px; // Controlled height
        overflow: hidden; // Prevents the image from overflowing the container
        border-radius: 50%; // Maintains the circular shape

       .profile-image {
            width: 100%; // Makes the image fill the container
            height: 100%; // Makes the image fill the container
            object-fit: cover; // Ensures the image covers the area without stretching
        }
    }

   .hero-title {
        font-size: 48px;
        margin-bottom: 20px;
    }

   .hero-subtitle {
        font-size: 24px;
    }
}
